/* Topbar */
.am-topbar-tc {
  margin-bottom: 0px;
  background-color: rgb(0, 143, 198);
  border-color: rgb(0, 132, 180);
  min-height: 50px;
}
.am-topbar-tc .am-text-ir {
  height:50px;
}
.am-topbar-tc, .am-topbar-tc a {
  color:#f4f4f4;
}
.am-nav-tc>li.am-active>a, .am-nav-tc>li.am-active>a:focus, .am-nav-tc>li.am-active>a:hover {
  background-color: rgb(0, 118, 162);
}
@media only screen and (min-width: 641px){
  .am-topbar-nav>li>a {
    line-height: 50px;
  }
  .am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus, .am-topbar-nav>li.am-active>a:hover {
    color:#FFFFFF;
    background-color: rgb(8, 127, 173);
  }
  .am-topbar-nav>li.am-active>a:after {
    border-bottom-color: #FFFFFF;
  }
  .am-topbar-nav>li>a:hover:after {
    border-bottom-color: #FFFFFF;
  }
}
.am-nav-tc>li>a:focus, .am-nav-tc>li>a:hover {
  background-color: rgb(8, 127, 173);
}
.am-topbar-tc .am-text-ir {
  display: block;
  margin-right: 10px;
  height: 50px;
  width: 125px;
  background: url(logo-brand.png) no-repeat left center;
  -webkit-background-size: 125px 50px;
  background-size: 125px 50px;
}
/* Btn-default-o */
.am-btn-default-o {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.8);
  border-width: 2px;
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0);
}
.am-btn-default-o:focus, .am-btn-default-o:hover{
  color: #f4f4f4;
  text-decoration: none;
}
.am-btn-default-o:hover {
  color: rgba(255, 255, 255, 1);
  border-width: 2px;
  border-radius: 6px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
}
/* Input Gourp */
.input-group-margin-bottom {
  margin-bottom: 5px;
}
/* ScrollUp Image style */
#scrollUp {
    background-image: url("top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
/* Footer */
.footer{
  background-color: rgb(235, 235, 235);
}
hr.footer{
  margin: 0px;
}
h5.footer{
  margin-bottom:4px;
}
p.footer{
  margin-top:4px;
}
a.footer{
  color:#333;
}
a.footer:hover{
  color:#050505;
  text-decoration: underline;
}
.footer-bottom{
  background-color: rgb(215, 215, 215);
  padding: 0;
}
p.footer-bottom{
  margin-bottom: 0;
}
a.footer-bottom{
  color:#333;
  font-size:14px;
}
a.footer-bottom:hover{
  color:#050505;
  text-decoration: underline;
}
/* Common */
div.container {
  padding-top: 10px;
}
div.footer-container {
  padding-top: 10px;
}
