p.content-r {
  padding: 0 10px;
  margin-bottom: 5px;
}
p.content-c {
  padding: 0 10px;
  margin-top: 0px;
}
p.content-m {
  padding: 0 10px;
  margin-top: 0px;
  margin-bottom: 5px;
}
small.apply-way {
  color:red;
}
