div.am-container>h2.title {
  font-size: 24px;
}
.shop-title {
  font-size: 18px;
  font-weight: bold;
}
.am-panel-hd {
  padding: 0;
}
.a-btn {
  margin-left: 5px;
}
p.am-article-lead {
  transition:0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  margin-bottom: 0px;
}
article {
  transition:0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  border: 1px solid #FFFFFF;
}
article:hover {
  background-color: rgba(0, 145, 200, 0.2);
}
article:hover .am-article-lead {
  color: #FFFFFF;
  background-color: rgb(0, 143, 198);
  border-color: rgb(0, 143, 198);
}
div.shop-text {
  background: rgba(0, 0, 0, 0.2);
}
