div.alert-radius {
  border-radius: 50px;
}
div.part-left-head {
  border-bottom: 1px dotted #CCC;
}
div.part-left-service {
  margin-top: 10px;
}
div.panel {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
ul.am-list>li {
  margin-bottom: 10px;
}
@media only screen and (min-width: 641px) {
  div.side-right {
    border-left: 1px solid #CCC;
  }
}
/* Button */
button.btn-service {
  width:100px;
  height:100px;
  margin-bottom: 10px;
}
button.btn-service>i {
  margin-bottom: 10px;
}
