div.alert-radius {
  border-radius: 50px;
}
/* MessageType */
@media only screen and (min-width: 641px) {
  div.side-right {
    border-left: 1px solid #CCC;
  }
}
a.message {
  color:#515151;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
a.message:hover {
  color:#1a1a1a;
}
a.message-unread {
  font-weight: bold;
}
div.message-header {
  border-bottom: solid #EEEEEE 2px;
  color: #f4f4f4;
}
div.message {
  padding: 0px;
}
div.message:hover {
  background-color: #EEEEEE;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
